/* Regular font */
@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-contact {
  padding: 0;
  margin: 0;
  font-size: xx-large;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: red;
}

.contact-call {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
  width: 100%;
}

.label {
  font-family: "Urbanist", sans-serif;
  color: purple;
}

.form-control,
.send-button {
  border: 1px solid var(--color1);
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-col {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  margin: 0px 10px 0px 10px;
  width: 45%;
}

.form-col-full {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  margin: 0px 10px 0px 10px;
}

.contact-form-div {
  display: flex;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 25px 20px 10px;
  position: relative;
}

.message {
  height: 80px;
}

.contact-logo {
  width: 150px;
  margin-top: 20px;
}

.circle-font {
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
  /* font-family: "AwsumSans"; */
  color: white;
}

input textarea {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .contact-sticker {
    top: 180px !important;
    right: 9px;
  }

  .contact-form {
    padding: 20px 45px 20px 30px !important;
  }

  .send-button {
    font-size: small;
  }
}
