.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.all-rights {
  width: 100%;
  position: sticky;
  bottom: 0;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  flex-direction: column;
  font-size: large;
  color: gray;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  color: lavender;
}

.socials i:hover {
  color: lightgreen;
}

.foot {
  margin-right: 10px;
  font-size: 11px;
  text-align: end;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1.2px;
  color: gray;
}
