.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.foot {
  font-size: 14px;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1.2px;
  color: gray;
  width: 100%;
}

.footer {
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.socials {
  display: flex;
  flex-direction: column;
  font-size: large;
  color: gray;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 15px 0;
  font-size: 25px;
  color: lavender;
}

.socials i:hover {
  color: lightgreen;
}
