html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 120px 10px !important;
}

.fa-instagram {
  font-size: x-large;
}

/* Footer Content */
.footer-text {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 0 0 0;
  padding: 10px;
  color: white;
}

.footer-div-1,
.footer-div-2 {
  display: flex;
  flex-direction: row !important;
  max-width: 1000px !important;
  /* width: 100%; */
  color: white;
  justify-content: space-between;
}

.footer-div-1 {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .footer-div-2 {
    flex-direction: column !important;
  }
}

.socials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.socials p {
  color: white;
  margin: 5px;
  text-align: center;
}

.socials i {
  color: white;
}

.socials a {
  text-align: center;
}

.sitemap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-decoration: underline;
}

.sitemap p {
  color: white;
  margin: 0;
}

.sitemap a {
  color: white;
  padding: 5px 0;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .scroll-search-results {
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: auto;
    flex-direction: column;
    min-height: auto;
    justify-content: flex-start !important;
    margin: 0;
    padding: 15px 0 23px 0;
  }

  .scroll-search-results ul {
    flex-direction: column;
    margin: 0 !important;
    align-items: center;
  }

  .movie-scroll-labels {
    flex-direction: column;
  }

  .sticker {
    display: none !important;
  }

  .wrapper {
    min-height: 100vh; /* Ensure the wrapper covers the full viewport height */
  }

  .content {
    flex: 1; /* Allow content to grow and push the footer down */
  }
}
