.video-container {
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 70vw;
  max-width: 800px;

  -webkit-mask-image: url("../../public/img/CCEA2.png");
  mask-image: url("../../public/img/CCEA2.png");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100%;
  overflow-y: hidden;
}

.home-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .video-container {
    min-height: 400px !important;
    width: 80vw !important;
    margin: 100px 0 0 0;
  }
}

/* @media screen and (max-width: 800px) {
  .video-container {

  }
} */

@media screen and (max-width: 600px) {
  .video-container {
    min-height: 400px !important;
    width: 90vw !important;
  }
}
