.qaa {
  display: flex;
  justify-content: center;
  max-width: 700px;
  flex-direction: column;
  margin: 30px;
}

.question {
  font-size: x-large;
  /* text-decoration: lightgreen underline wavy; */
  margin-bottom: 5px;
}

.answer {
  margin-top: 5px;
  font-size: medium;
  margin-bottom: 20px;
  line-height: 2;
}
