.fiscalFilms-image {
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.landing-container {
  width: 80%;
  margin-top: 60px;
  letter-spacing: 1px;
  line-height: 25px;
}

.landing-title {
  font-size: 35px;
  margin: 10px 0;
}

.heading {
  font-weight: 800;
  margin-right: 10px;
}

.donate-to {
  margin: 30px 0px;
  text-decoration: none;
  text-align: center;
  color: orangered;
}

.donation-form {
  margin-top: 100px;
}

p {
  margin: 0;
}

.donate-to:hover {
  text-shadow: 8px 8px 18px green !important;
  cursor: pointer;
}

.title-2 {
  font-weight: 600;
  margin-left: 5px;
}

.first-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
