.retreat-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retreat-nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
}

.retreat-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.retreat-sub1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.retreat-text {
  margin: 0 0 0 20px;
  padding: 15px;
  line-height: 25px;
  border: 3px solid #709f93;
  border-radius: 15px;
  box-sizing: border-box;
  height: 100%;
  font-size: large;
  line-height: 30px;
}

.retreat-text-div {
  max-width: 600px;
}

.retreat-iframe {
  min-height: 1800px !important;
  margin: 10px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .retreat-sub1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .retreat-iframe {
    min-height: 2000px !important;
  }
}
