.retreat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.retreat-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 90px;
}

.retreat-image {
  width: 45%;
  max-width: 600px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.retreat-sub1 {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
  max-width: 1400px;
  box-sizing: border-box;
  margin-top: 100px;
}

.retreat-text {
  padding: 15px;
  border: 3px solid #709f93;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: large;
  line-height: 30px;
  background-color: white;
}

.retreat-text-div {
  width: 45%;
  max-width: 600px;
  align-items: center;
  display: flex;
}

.retreat-iframe {
  min-height: 1800px;
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .retreat-image {
    width: 100%;
    max-width: unset;
  }
  .retreat-sub1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 3px solid #709f93;
  }
  .retreat-text {
    margin: 100px 0 !important;
  }
}

@media screen and (max-width: 900px) {
  .retreat-text-div {
    width: unset !important;
    /* margin: 20px; */
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .retreat-iframe {
    min-height: 2000px !important;
  }
}
