.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.about-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.about-div {
  display: flex;
  max-width: 500px;
  margin: 100px 0;
  height: 100%;
  justify-content: center;
}

.about-div span {
  line-height: 2;
  font-weight: 400;
  text-align: justify;
  margin: 20px 0;
  font-size: large;
  max-width: 90%;
  box-sizing: border-box;
}

.download-section {
  display: flex;
}

@media screen and (max-width: 600px) {
  .about span {
    margin: 30px 20px;
  }

  .about-div span {
    font-size: medium;
  }
}
