/* * {
  outline: 1px solid red;
} */

:root {
  --color1: rgb(251, 120, 106);
  --color2: rgb(246, 179, 91);
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

.fake-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 10px;
  height: 75px;
}

.navbar-logo {
  width: auto;
  height: 50px;
}

.FAQ-link:hover {
  color: #709f93 !important;
  cursor: pointer;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden !important;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fffdf3;
}

body.navbar-open {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.iframe-div {
  width: 104%;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

body,
label {
  font-family: "Urbanist", sans-serif;
  color: black;
}

.home-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.home-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.home-body::-webkit-scrollbar-thumb {
  background-color: #90ee90;
  border-radius: 10px;
  z-index: 999999999;
}

.home-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

.details-column,
.page-container,
.profile-container,
.details {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

.dropdown-toggle {
  border: solid 1px lime !important;
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0%;
}

input,
textarea {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}

.input[type="checkbox"]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

.input[type="checkbox"]:after {
  box-shadow: none !important;
}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

#contactTextArea {
  min-height: 100px;
}

.scroll-search-results {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden;
  display: flex;
  margin: 0;
  padding: 15px 0 23px 0;
  min-height: 400px;
}

.scroll-search-results ul {
  display: flex;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  overflow: visible;
  justify-content: center;
  width: 100%;
}

.scroll-search-results ul li {
  padding: 0 !important;
}

.scroll-search-results::-webkit-scrollbar {
  width: 12px;
}

.sticker {
  float: left;
  position: absolute;
  top: -50px;
  left: -15px;
  z-index: 5;
  height: 65px;
  width: 65px;
}

.retreat-li {
  filter: grayscale(100%);
}

.retreat-li,
.event-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  width: 250px;
  height: 390px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-container {
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
  justify-content: space-between;
}

.event-container:hover {
  cursor: pointer;
}

.highlights {
  z-index: 9;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3%;
  position: relative;
  padding-top: 10px;
  box-sizing: border-box;
}

.highlight {
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  margin: 5px;
  text-align: center;
  letter-spacing: 1px;
}

.highlight-title {
  letter-spacing: 1px;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  font-family: "AwsumSans", sans-serif;
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.movie {
  object-position: top;
  margin-left: 10px;
  z-index: 4;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

@media screen and (max-width: 800px) {
  .scroll-search-results {
    width: 100%;
    overflow: hidden !important;
    flex-direction: column;
    min-height: 1300px !important;
    justify-content: center;
    margin: 0;
    padding: 15px 0 23px 0;
    justify-content: flex-start !important;
  }

  .scroll-search-results ul {
    flex-direction: column;
    margin: 0 !important;
    align-items: center;
    margin: 0 !important;
  }

  .movie-scroll-labels {
    flex-direction: column;
  }

  .fake-navbar {
    height: 75px !important;
    position: relative !important;
  }
}

.sticker {
  display: none !important;
}
