@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid red;
} */

@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSansItalic-BF64c085561b552.otf") format("opentype"),
    url("/fonts/AwsumSansItalic-BF64c0855662543.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSansBoldItalic-BF64c0855650966.ttf") format("truetype"),
    url("/fonts/AwsumSansBoldItalic-BF64c08556c0bd3.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
___________________________________________________________________GLOBAL
  :root {
  --color1: rgb(251, 120, 106);
  --color2: rgb(246, 179, 91);
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

.FAQ-link {
  text-decoration: none;
  color: salmon !important;
}

.FAQ-link:hover {
  color: lightgreen !important;
}

body {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* height: 100%; */
}

body.navbar-open {
  overflow: hidden;
}

.navbar-logo {
  width: 160px;
  height: 80px;
  margin: 20px 30px 0 0;
}

body.no-scroll {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

body,
label {
  font-family: "Urbanist", sans-serif;
  color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.home-body::-webkit-scrollbar-thumb {
  background-color: #90ee90;
  border-radius: 10px;
  z-index: 999999999;
}

.home-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

.details-column,
.page-container,
.profile-container,
.details {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: contain;
}

.dropdown-toggle {
  border: solid 1px lime !important;
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0%;
}

input,
textarea {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}

.input[type="checkbox"]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

.input[type="checkbox"]:after {
  box-shadow: none !important;
}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

#contactTextArea {
  min-height: 100px;
}

.scroll-search-results {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden;
  display: flex;
  margin: 0;
  padding: 15px 0 23px 0;
  min-height: 350px;
}

.scroll-search-results ul {
  display: flex;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  overflow: visible;
  justify-content: center;
  width: 100%;
}

.scroll-search-results ul li {
  padding: 0 !important;
}

.scroll-search-results::-webkit-scrollbar {
  width: 12px;
}

.sticker {
  float: left;
  position: absolute;
  top: -50px;
  left: -15px;
  z-index: 5;
  height: 65px;
  width: 65px;
}

@media screen and (max-width: 600px) {
  .movie-scroll-labels span {
    font-size: 20px !important;
  }
  .navbar-logo {
    margin: 15px 15px 0 0 !important;
    width: 150px !important;
    height: 80px;
  }

  .movie-scroll-labels {
    flex-direction: column;
  }

  .scroll-search-results ul {
    margin: 0 70px !important;
  }
}

@media screen and (max-width: 500px) {
  .sticker {
    left: -20px !important;
    top: -20px !important;
  }
}
@media screen and (max-width: 900px) {
  .retreat-li {
    height: 325px !important;
    width: 190px !important;
  }
  .event-container {
    width: 190px !important;
    height: 325px !important;
  }
}

.retreat-li,
.event-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 355px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-container:hover {
  cursor: pointer;
}

.highlights {
  z-index: 9;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
  background-color: rgb(255, 180, 100);
  border: solid 3px rgb(250, 106, 103);
  border-radius: 3%;
  position: relative;
}

.highlight {
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  margin: 5px;
  text-align: center;
  letter-spacing: 1px;
}

.highlight-title {
  letter-spacing: 1px;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  font-family: "AwsumSans", sans-serif;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.movie {
  width: 100%;
  object-position: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  z-index: 4;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

@media screen and (max-width: 900px) {
  /* .highlight {
    font-size: small !important;
  } */

  .highlights {
    /* width: 140px !important; */
    padding: 0 !important;
    height: 120px !important;
  }
  .highlight-title {
    font-size: medium !important;
  }
}

@media screen and (max-width: 500px) {
  .navbar-logo {
    margin: 10px 10px 0 0 !important;
  }
}

/* @media screen and (max-width: 400px) {
  .highlight-title {
    font-size: small !important;
  }
} */
