/* Regular font */
@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Bold font
@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSansBold-BF64c08556665f3.ttf") format("truetype"),
    url("/fonts/AwsumSansBold-BF64c08556c5095.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
} */

/* Italic font */
@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSansItalic-BF64c085561b552.otf") format("opentype"),
    url("/fonts/AwsumSansItalic-BF64c0855662543.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic font */
@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSansBoldItalic-BF64c0855650966.ttf") format("truetype"),
    url("/fonts/AwsumSansBoldItalic-BF64c08556c0bd3.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
___________________________________________________________________GLOBAL
  :root {
  --color1: rgb(251, 120, 106);
  --color2: rgb(246, 179, 91);
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

.FAQ-link {
  text-decoration: none;
  color: salmon !important;
}

.FAQ-link:hover {
  color: lightgreen !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body.navbar-open {
  overflow: hidden;
}

.navbar-logo {
  width: 160px;
  height: 80px;
  margin: 20px 30px 0 0;
}

body.no-scroll {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

body,
label {
  font-family: "Urbanist", sans-serif;
  color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-body {
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

.details-column,
.page-container,
.profile-container,
.details {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: contain;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}

.favorites-container,
.page-container,
.profile-container,
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-rights-div {
  margin: 0px;
  padding: 20px;
}

.dropdown-toggle {
  border: solid 1px lime !important;
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0%;
}

input,
textarea {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}

.input[type="checkbox"]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

.input[type="checkbox"]:after {
  box-shadow: none !important;
}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

#contactTextArea {
  min-height: 100px;
}

.movie-scroll-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "AwsumSans", sans-serif;
  justify-content: center;
  font-size: xx-large;
}

.separator {
  margin: 0 10px;
}

.scroll-search-results {
  width: 100vw;
  overflow-x: scroll !important;
  overflow-y: hidden;
  display: flex;
  margin: 0;
  padding-bottom: 20px;
}

.scroll-search-results ul {
  display: flex;
  gap: 3rem;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.scroll-search-results::-webkit-scrollbar {
  width: 12px;
}

.scroll-search-results::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-search-results::-webkit-scrollbar-thumb {
  background: transparent;
}

.sticker {
  float: left;
  position: absolute;
  top: -60px;
  left: 9px;
  z-index: 5;
}

.sticker-and-review {
  display: flex;
  align-items: first baseline;
}

.learn-more-2 {
  background-color: lightgreen;
  color: rgb(103, 79, 103);
  font-size: large;
  padding: 4px;
  border: 4px double black;
  cursor: pointer;
  transition: all 0.4s;
  font-family: "Urbanist", sans-serif;
  z-index: 4;
  position: relative;
  border-radius: 14px;
  right: -36px;
  bottom: -40px;
  letter-spacing: 1px;
  margin: 3px;
}

.learn-more-2:hover {
  background-color: rgb(123, 188, 123);
  cursor: pointer;
  color: darkgreen;
}

.decoration {
  z-index: 9999;
  width: 100%;
  height: 26vh;
  position: fixed;
  top: 0;
  background: radial-gradient(
      ellipse at left bottom,
      transparent 75%,
      /* Transparent part for the image */ violet 74%,
      /* Start indigo ring */ blue 75%,
      /* Start green ring */ yellow 76%,
      /* Start yellow ring */ orange 77%,
      /* Start orange ring */ red 78%,
      /* Black ring */ salmon 79%,
      /* White ring */ transparent 80% /* End of the salmon fill */
    ),
    url("/img/static.png") no-repeat center/cover;
  -webkit-mask-image: radial-gradient(
    ellipse at left bottom,
    transparent 75%,
    black 76%,
    /* Mask starts here */ black 100%
      /* Mask ends, fully covering the rest of the image */
  );
  mask-image: radial-gradient(
    ellipse at left bottom,
    transparent 75%,
    black 76%,
    /* Mask starts here */ black 100%
      /* Mask ends, fully covering the rest of the image */
  );
}

.side-logo {
  width: 150px;
  margin: 0 0 20px 20px;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .about span {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .about span {
    font-size: 14px;
    line-height: 1.8;
  }
  .movie-scroll-labels span {
    font-size: 20px !important;
  }
  .navbar-logo {
    margin: 25px 25px 0 0 !important;
  }

  .movie-scroll-labels {
    flex-direction: column;
  }

  .separator {
    margin: 5px 0;
  }
  .navbar-logo {
    width: 150px !important;
    height: 80px;
  }
}

@media screen and (max-width: 500px) {
  .about span {
    font-size: 12px !important;
  }

  .learn-more-2 {
    font-size: 15px !important;
    right: 0px !important;
    bottom: -38px !important;
    height: 40px;
    width: 110px;
  }

  .sticker {
    left: -25px !important;
    top: -40px !important;
    height: 60px;
    width: 60px;
  }
}

.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px rgb(250, 106, 103);
  background-color: rgb(239, 194, 110);
  border-radius: 3%;
  position: relative;
  padding: 10px;
  width: 170px;
  height: 110px;
}

.highlights:hover {
  cursor: pointer;
}

.highlight {
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  margin: 5px;
  text-align: center;
  letter-spacing: 1px;
}

.highlight-title {
  letter-spacing: 1px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  font-family: "AwsumSans", sans-serif;
}

.learn-more {
  background-color: var(--color5);
  color: rgb(252, 80, 60);
  font-size: medium;
  border: 1px solid lightgreen;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  font-family: "Urbanist", sans-serif;
  font-size: large;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  z-index: 4;
  position: absolute;
  bottom: -40px;
  right: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.learn-more:hover {
  background-color: lightgreen;
  border: 2px solid var(--color5);
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.front-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  z-index: 4;
  position: relative;
  object-fit: cover;
  margin: 0;
  width: 180px !important;
  height: 250px;
  border-radius: 3px;
}

.front-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-button {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .highlight-title {
    font-size: large !important;
  }
  .highlight {
    font-size: small !important;
  }
  .highlights {
    width: 160px !important;
  }

  .review-div,
  .review {
    margin: 20px !important;
    font-size: medium !important;
  }
}

@media screen and (max-width: 500px) {
  .highlights {
    width: 130px !important;
    padding: 0 !important;
    height: 120px !important;
  }

  .highlight-title {
    font-size: medium !important;
  }
  .movie {
    width: 120px !important;
    height: 170px !important;
  }
}

@media screen and (max-width: 400px) {
  .highlight-title {
    font-size: small !important;
  }
}
