.qaa {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  width: 100vw;
}

.qaa-2 {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 50px 30px;
}

.qaa-2 p {
  margin: 15px 15px 0;
}

.question {
  font-size: x-large;
  margin-bottom: 5px;
  font-weight: bolder;
}

.answer {
  margin-top: 5px;
  font-size: medium;
  margin-bottom: 20px;
  text-align: justify;
}

.fiscal-page {
  margin: 120px 0px 0px 0px;
}

iframe {
  max-width: 100%;
  height: 3300px !important;
  border: 2px solid salmon;
  border-radius: 15px;
  margin: 25px 0;
  margin-top: 20px;
  background-color: black;
}

.fiscal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  height: 100vh;
}

.fiscal-about {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  margin-top: 100px;
}

.FAQ-link {
  text-decoration: none;
  color: salmon !important;
  cursor: pointer !important;
}

.FAQ-link:hover {
  color: lightgreen !important;
}

.fiscal-about span {
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  font-size: x-large;
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  font-size: 20px;
  font-weight: 400;
  margin: 0 100px;
}

.download-section {
  display: flex;
}

@media screen and (max-width: 900px) {
  .contact-div-footer {
    padding: 20px;
  }
  .fiscal-about span {
    font-size: large !important;
  }
}

@media screen and (max-width: 700px) {
  .qaa-2 {
    max-width: 500px !important;
  }
  .fiscal-about span {
    font-size: medium !important;
    margin: 0 20px !important;
  }
  .answer {
    line-height: 1.5 !important;
  }
}

@media screen and (max-width: 600px) {
  iframe {
    width: 90vw !important;
  }

  .question {
    font-size: large;
    font-weight: bolder;
  }
}
