.fiscal-page {
  margin: 120px 0px 0px 0px;
}

iframe {
  min-height: 56vh;
  /* margin-bottom: 20px; */
  border: double 12px rgb(234, 124, 73);
  border-radius: 15px;
  /* background-color: rgb(171, 94, 75); */
}

.fiscal-container {
  width: 100%;
}

.fiscal-about {
  text-align: justify;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 120px;
}

.FAQ-link {
  text-decoration: none;
  color: salmon !important;
  cursor: pointer !important;
}

.FAQ-link:hover {
  color: lightgreen !important;
}

.fiscal-about span {
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  font-size: x-large;
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  font-size: 22px;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin: 0 100px;
}

.download-section {
  display: flex;
}

@media screen and (max-width: 900px) {
  .contact-div-footer {
    padding: 20px;
  }
  .fiscal-about span {
    /* line-height: 2; */
    font-size: large !important;
  }
  /* .fiscal-container {
    margin-top: 20px !important;
  } */
}

@media screen and (max-width: 600px) {
  .fiscal-about span {
    font-size: medium !important;
    margin: 0 40px !important;
  }

  iframe {
    width: 90vw !important;
  }
}
