.donate-image {
  width: 100%;
  height: 100%;
  margin: 10px 0;
}
.donate-container {
  width: 80%;
  margin-top: 60px;
  letter-spacing: 1px;
  line-height: 25px;
}

.donate-title {
  font-size: 35px;
  margin: 10px 0;
}

